# Virtual environment
venv

# Python files
__pycache__

# Plots
plots/**/*.txt
*.png

# Generated data for nn colab training
colab_data.csv
colab_data_output_8.csv
colab_data_new_env.csv
colab_data_output_16.csv
colab_data_with_decay.csv
colab_data_with_decay_2_dummy.csv

#Generated a random price csv for eval
make_random_energy.py

#junk files that might be usefull in development
junk_test_utils.py

#checkpoints
/checkoints_legacy/*
/best_checkpoints/*
/best_checkpoints_2
/temp_checkpoints_2
/temp_checkpoint_eval
/new_checkpoints/*
/checkpoints/*
/checkpoints_2

#data for pretraining networks(probably deprecated since I have changed the network inputs order)

/colab_data_with_decay_2_dummy.csv
/colab_data_without_decay.csv
/new_checkpoints/
